body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /* Prevent scrollbars */
}

#container {
    cursor: pointer;
}

#initial-message {
    font-size: 1.5em;
}

#ip-info p {
    margin: 10px 0;
    font-size: 1.2em;
}

#ip-info span {
    font-weight: bold;
}

